{# templates/admin/calendar.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}



{% block page_title %}
    Mon calendrier
{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="content-header-title">
            <h1 class="title">
                Gestion du calendrier
            </h1>
        </div>

    </div>

    <br>
    <div id="appCalAdmin">
    </div>
 {% endblock %}
