{# templates/admin/my_dashboard.html.twig #}
{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
    {% include 'components/flash.html.twig' %}
    <div class="container-fluid my-4">




        <div id="appCalAdminTest"></div>

    </div>
{% endblock main %}