{% for label, messages in app.flashes %}
    <div
            id="{{ label }}-message"
            class="flex items-center w-fit justify-between p-2 rounded-md
            {% if label == 'success' %}
                bg-[#e0f3e0] border-2 border-[#5d7f64] text-[#5d7f64]
            {% elseif label == 'error' %}
                bg-[#f8d7da] border-2 border-[#8a4b4b] text-[#8a4b4b]
            {% endif %}
            shadow-lg max-w-[90%] mx-auto fixed inset-x-0 top-28 z-50 flex justify-center"
    >
        <!-- Icône -->
        <div class="flex items-center mr-3">
            {% if label == 'success' %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-12 h-12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2l4-4m6 2a9 9 0 1 1-18 0a9 9 0 0 1 18 0z" />
                </svg>
            {% elseif label == 'error' %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-12 h-12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
            {% endif %}
        </div>

        <!-- Message -->
        <p class="text-sm font-medium w-fit mr-12 flex-grow">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>

        <!-- Bouton pour masquer le message -->
        <button onclick="document.getElementById('{{ label }}-message').classList.add('hidden')" class="flex absolute right-3 items-center justify-center w-10 h-10 ml-4
            {% if label == 'success' %}
                text-[#5d7f64] hover:text-white bg-transparent hover:bg-[#5d7f64]
            {% elseif label == 'error' %}
                text-[#8a4b4b] hover:text-white bg-transparent hover:bg-[#8a4b4b]
            {% endif %}
            rounded-full transition duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

    <script>
        // Cache le message après 4 secondes (4000ms)
        setTimeout(function() {
            var flash = document.getElementById('{{ label }}-message');
            if (flash) {
                flash.classList.add('hidden');
            }
        }, 4000);
    </script>
{% endfor %}
